#foot{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}
body{
  padding-top:56px;

}
.text{
  font-size: 23px;
  font-weight: bold;
  color:#5dbcd2;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 20px;
}
#car{
  background-image: url("bt4.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  color: white;
  padding-top:0px;
}
#imgg{
       width:5.6rem;
       height:5rem;
       border-radius: 50%; 
       border:2px solid black;
       position: absolute;
       right: 1rem;
       top:0.62rem;
}
*{
  margin:0;
  padding:0;
}
.contactModalLabel h5{
  font-size: 1.25rem;
  font-weight: bold;
}
#home{
  margin-right: 0px;
}
p{
  font-size: 1.25rem;
}
#copy{
  position: absolute;
  left: 10px;
}

#abb{
display:flex;
justify-content: center;
align-items: center;
padding: 20px;
}
#naw{
  border:1px solid black;

}
#naw1{
  border:1px solid black;
  height:400px;
  width:500px;

}
#takla{
  
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;

}
@media screen and (max-width: 500px) {
  #takla{
      font-size:8px;
  }
}
#aao{
  background-image: url("7cC.gif");
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.fontsize{
  font-size: 2.5vw;
  color: white;
}
.for{
  font-size: 4.5vw;
  color: white;
}
.font{
  font-size: 4vw;
  
}